<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>server error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">오우!</span> 서버에 문제가 발생했습니다!</p>
        <p class="lead">
            홈으로 이동하여 다시 시도 하세요
        </p>
        <a th:href="@{/}" class="btn btn-primary">홈으로 이동</a>
    </div>
</div>
</body>

</html>