<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>mypage</title>
    <style>

        html,
        body {
          height: 100%;
        }

        body {
          display: flex;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
        }

        .form-signin {
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: auto;
        }

    </style>
</head>
<body class="text-center">
    <main class="form-signin">
        <dev id="one"></dev>
        <a class="navbar-brand ms-0 ms-md-1 position-relative" th:href="@{/}">
            <img src="/image/logo.png" alt="logo" width="70" height="70">
        </a>
        <h1 class="h3 mb-3 fw-normal">마이 페이지</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="id" placeholder="아이디 입력..." disabled>
            <label for="id">아이디</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="">
            <label for="password">비밀번호</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="name" placeholder="이름 입력...">
            <label for="name">이름</label>
        </div>
        <div class="form-floating">
            <input type="phone" class="form-control" id="phone" placeholder="전화번호 입력...">
            <label for="phone">전화번호</label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="button" onclick="edit()">수정</button>
        <button class="w-100 btn btn-lg btn-danger" type="button" onclick="deleteuser()">삭제</button>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        fetch("/account/find",{
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body: JSON.stringify({
                username:localStorage.getItem("username")
            })
        }).then(res => res.json()
            .then(data=>{
                document.getElementById( 'id' ).setAttribute( 'value', data.data.username);
                document.getElementById( 'name' ).setAttribute( 'value', data.data.name);
                document.getElementById( 'phone' ).setAttribute( 'value', data.data.phone);
            })
            ).catch(err=>{
                alert("조회 실패");
            })
        function edit(){
            console.log(document.getElementById( 'password' ).value);
        }
        function deleteuser(){
            if (!confirm("삭제 하시겠습니까?")) {
                console.log("취소")
            } else {
                fetch(`/account?username=${localStorage.getItem("username")}`,{
                    method:"DELETE",
                    headers:{"Content-Type":"application/json"}
                }).then(res => res.json()
                    .then(data=>{
                        alert("삭제되었습니다");
                        location.href = "/logout";
                    })
                    ).catch(err=>{
                        alert("삭제 실패");
                    })
            }
        }
    </script>
</body>
</html>